.git
.idea
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/venv
**/.venv
**/node_modules
**/tmp
**/build
**/dist
**/bin
**/pkg
dumps
services/*/generated
services/model-streaming-service/gen
extension/client-runtime/generated
shared/generated
